*{
margin: 0;
padding: 0;
font-family: 'Times New Roman', Times, serif;
background-color: rgb(22, 22, 22);
color: white;
}
h1 {
text-align: center;
margin-bottom: 4px;
font-family: 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
 

}